.container {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;


}

.ant-card-body {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-avatar {
  border-radius: 15px;
}

.username {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.ant-spin {
  margin-top: 50px;
}


